h1,
#controls {
	text-align: center;
	margin: 1em;
}

main {
	width: 80%;
	max-width: 800px;
	margin: auto;
	padding: 10px;
	border-radius: 15px;
	border-color: rgb(228, 228, 228);
	background: linear-gradient(
		90deg,
		rgb(239, 242, 247) 0%,
		7.60286%,
		rgb(237, 240, 249) 15.2057%,
		20.7513%,
		rgb(235, 239, 248) 26.297%,
		27.6386%,
		rgb(235, 239, 248) 28.9803%,
		38.2826%,
		rgb(231, 237, 249) 47.585%,
		48.1216%,
		rgb(230, 236, 250) 48.6583%,
		53.1306%,
		rgb(228, 236, 249) 57.6029%,
		61.5385%,
		rgb(227, 234, 250) 65.4741%,
		68.7835%,
		rgb(222, 234, 250) 72.093%,
		75.7603%,
		rgb(219, 230, 248) 79.4275%,
		82.8265%,
		rgb(216, 229, 248) 86.2254%,
		87.8354%,
		rgb(213, 228, 249) 89.4454%,
		91.8605%,
		rgb(210, 226, 249) 94.2755%,
		95.4383%,
		rgb(209, 225, 248) 96.6011%,
		98.3005%,
		rgb(208, 224, 247) 100%
	);
}

#chat {
	min-height: 350px;
	font-family: "Inter", sans-serif, Avenir, Helvetica, Arial;
	font-size: 0.9rem;
	position: relative;
	overflow: hidden;
	padding: 10px;
	border-radius: 5px;
	font-size: 1em;
}

#controls {
	margin-top: 2em;
}

#input-container {
	background-color: rgb(255, 255, 255);
	margin: auto;
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 12px;
	overflow-y: auto;
	max-height: 200px;
	position: relative;
}

#user-input {
	outline: none;
	overflow-wrap: break-word;
	line-break: auto;
	width: 100%;
	text-align: left;
	padding: 5px;
	height: 1em;
}

.placeholder {
	color: gray;
}

[contenteditable="true"]:empty:before {
	content: attr(placeholder);
	color: grey;
	font-style: italic;
}

.message {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 80%;
	border-radius: 10px;
}

.user-message {
	box-shadow: rgba(0, 0, 0, 0.12) 0px 0.3px 0.9px,
		rgba(0, 0, 0, 0.16) 0px 1.6px 3.6px;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 132, 255);
	float: right;
}

.user-message p {
	margin: 0px 5px;
}

.bot-message {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bot-message > :first-child:before {
	content: "🗣️";
	margin-right: 10px;
	font-size: 2em;
}

footer {
	width: 60%;
	max-width: 600px;
	margin: auto;
	font-size: 0.9em;
	text-align: center;
	margin-top: 3em;
	border-top: 1px solid #bbb;
	padding-top: 1em;
}

footer a {
	color: #0453ad;
	text-decoration: none;
}

#chat img {
	display: block;
	margin: 1em;
}

#chat li,
#chat li p {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

@media screen and (max-width: 500px) {
	body {
		font-size: 1.05em !important;
	}
	main {
		width: initial !important;
		max-width: initial !important;
	}
	#chat {
		padding: 5px !important;
	}
	.message {
		padding: 5px !important;
	}
	.bot-message {
		width: 90% !important;
	}
	ul {
		padding-left: 30px !important;
	}
	ul ul {
		padding-left: 25px !important;
	}
}
